.width-100
  width 100%
.margin-auto
  margin auto
.cursor-pointer
  cursor pointer
.float-right
  float right
.float-left
  float left
.align-center
  text-align center
.align-end
  text-align end
.font-bold
  font-weight bold
